<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Montserrat" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>

  <body>
    <a class="nav-button hamburger" href="#" id="slide-toggle"><i class="fas fa-bars"></i></a>
    <div class="nav-padding"></div>
  	<div id="slide">
  		<div>
  			<div class="filler">
  				<a id="slide-exit-button"><i class="fas fa-times clickable-icon"></i></a>
  			</div>
  			<div class="nav-options">
  				<a class="nav-link" href="/">Live transcription</a>
  				<a class="nav-link" href="/about">About</a>
  			</div>
  		</div>
  	</div>
    <div class="content">
  	{% block content %}
    {% endblock %}
    </div>
  	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sliiide/1.1.4/sliiide.min.js" integrity="sha256-ZF1e1RoFLTWN2Th02zwL8rY9ibkUGAM6rpmpflQI8nE=" crossorigin="anonymous"></script>
    <script src="static/js/base.js"></script>
    {% block js %}
    {% endblock %}
    <script src="https://use.fontawesome.com/3a1262e1c7.js"></script>
  </body>

</html>