{% extends 'base.html' %}

{% block content %}
<div class="transcript-container">
  	<p><span id="transcript"></span>&#32;<span id="interim-transcript"></span></p>
</div>
<div class="controls">
	<select id="dialect-chooser"></select>
	<div class="ctrl-btn">
		<span id="off-button" class="fa-stack fa-lg fa-2x">
		  	<i class="fa fa-circle fa-stack-2x light-icon pulse"></i>
		  	<i class="fas fa-microphone-alt fa-stack-1x fa-inverse light-icon"></i>
		</span>
	</div>
	<div class="ctrl-btn display-none" id="on-button-parent">
		<span id="on-button" class="fa-stack fa-lg fa-2x">
			<i class="fa fa-circle fa-stack-2x light-icon"></i>
			<i class="fas fa-microphone-alt-slash fa-stack-1x fa-inverse light-icon"></i>
		</span>
	</div>
	<p id="mic-status">Mic on</p>
</div>
<div class="question-container voice-commands">
    <div class="q-bkgrd no-pointer">
      <a class="question">Try some voice commands!</a>
    </div>
    <div class="pad-top">
      <dt>"Clear the screen"</dt><dd>Clear the screen of text written so far</dd>
      <dt>"Larger"</dt><dd>Make the font larger</dd>
      <dt>"Smaller"</dt><dd>Make the font smaller</dd>
      <dt>"Drop the mic"</dt><dd>Shut off the microphone</dd>
      <dt>"Random background"</dt><dd>Change the background color</dd>
      <dt>"Original background"</dt><dd>Go back to the original background</dd>
      <dt>"What is the meaning of life?"</dt><dd>Never hurts to ask...</dd>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="static/js/transcribe.js"></script>
{% endblock %}